<!DOCTYPE html>
<html lang="en">
<%= include ../includes/head.ejs %>

    <body>

        <%= include ../includes/header.ejs %>


            <main role="main">

                <!-- Main jumbotron for a primary marketing message or call to action -->
                <div class="jumbotron">
                    <div class="container">
                        <h1 class="display-3">Velkommen til Kulturhuset!</h1>
                        <p>Her han du læse mere om kulturhuset, vores arrangementer og booke dine billetter</p>
                        <p>
                            <a class="btn btn-primary btn-lg" href="/om" role="button">Læs om os &raquo;</a>
                        </p>
                    </div>
                </div>


                <!-- Bootstrap core JavaScript
        ================================================== -->
                <!-- Placed at the end of the document so the pages load faster -->
                <%= include ../includes/footer.ejs %>
    </body>


</html>